@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");


@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/feature.css");
@import url("sections/footer.css");
@import url("sections/newsletter.css");
@import url("sections/products.css");
@import url("sections/cart.css");
@import url("sections/login.css");
@import url("sections/signup.css");
@import url("sections/about.css");
@import url("sections/contact.css");


/* CSS variables for reusablity across all files (including above imported) */
:root {
    --nunito-display: "Nunito Display", serif;
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  
    --primary-color: #1c05f0;
    --secondary-color: #e3e6f3;
  
    --grey: #645f5f;
    --grey-100: #606063;
    --faded-white: #faebd779;
    --box-shadow: rgba(0, 0, 0, 0.3);
    --yellow-100: #f3b519;
    --green-100: #327119;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
  
    --color-white: #fff;
    --color-creamson: #fff0de;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    
}

h1{
    font-size: 3.125rem;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 3rem;
}

h4{
    font-size: 1.25rem;
}

h6{
    font-size: 0.75rem;
}

p{
    font-size: 1rem;
}

body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-y: none;
}

/* start of utility classes */
.section-p1{
    padding: 40px 80px;
}


.section-m1{
    margin: 40px 0;
}

.page-header{
    background-image: url("../assets/images/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.page-header h2{
    color: var(--color-white);
}

.page-header p{
    color: #088178;
}

.pagination{
    text-align: center;
}

.pagination a{
    text-decoration: none;
    background-color: #0ab8a9;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    margin: 0px 5px;
}

.pagination i{
    font-size: 1rem;
    font-weight: 600;
}

.button-primary {
    color: rgb(33, 33, 33);
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.button-primary:hover {
    background-color: rgb(247, 202, 0);
    border: 1px solid rgb(242, 194, 0);
}

/* end of utility class */



  



/* start media queries */

/* @media (max-width:799px){
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -900px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    .header__nav.active{
        right: 0px;
    }

    .header__nav li{
        margin-bottom: 25px;
    }
    
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 1.875rem;
        left: 1.875rem;
        color:#222;
        font-size: 1.5rem;
    }

    .lg-bag{
        display: none;
    }




    .hero{
        height: 70vh;
        padding: 0 80px;
        background-size: 50%;
        background-position: top 45% right 0%;
    }
} */

@media only screen and (max-width: 400px){

    .section-p1{
        padding: 20px 10px;
    }
}