.feature{
   display: flex; 
   align-items: center;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.feature__box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cdcdcd;
    margin: 15px 0;
}

.feature__box p{
    padding: 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color:#e0d198;
    color: #0ab8a9;
    font-size: 0.75rem;
}

.feature__box img{
    width: 100%;
    margin-bottom: 10px;
}

.feature__box:nth-child(2) p{
    background-color: #5fcd615a;
}


.feature__box:nth-child(3) p{
    background-color: #e04545;
}


/* start of media queries */
@media (max-width:799px){
    .feature{
        justify-content: space-evenly;
        
    }

}

@media only screen and (max-width: 400px){
    .feature{
        justify-content: space-evenly;
        
    }

    .feature__box {
        width: 155px;
        margin: 0 0 15px 0;
    }


}