header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 20px var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav li{
    list-style-type: none;
    padding: 0px 20px;
    position: relative;
}

.header__nav a{
    text-decoration: none;
    font-weight: 900;
    transition: 0.3s ease-in;
    font-size: 1rem;
    color:var(--grey);
}

.header__nav button{
    margin: 0 10px;
    padding: 10px 25px;
    background-color: var(--primary-color);
    color: var(--color-white);
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.header__nav button:hover{
    background-color: #2414d8ec;
    color: #e3e3e3;
}

.header__nav #nav__button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 900;
    font-size: 1rem;
}

.header__nav a:visited{
    color:#645f5f;
}

.header__nav li a:hover,
.header__nav li a.active,
.header__nav li a:focus{
    color:var(--primary-color);
}

.header__nav #nav__button:hover{
    background-color: var(--color-creamson);
}


.header__nav li a.active::after,
.header__nav li a:hover::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.cart-quantity {
    position: absolute;
    top: -10px;
    right: 3px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
  }


#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}