.hero {
    background-image: url(/assets/images/vecteezy_ai-generative-pair-of-sneaker-shoes-on-transparent_34610241.png);
    min-height: 90vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat ;
    background-position: top 55% right 0%;
    background-color: rgba(250, 235, 215, 0.475);
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.hero h4{
    padding-bottom: 1rem;
}

.hero h1{
    color: #0ab8a9;
}

.hero p{
    color: #465b52;
    margin: 15px 0 20px 0;
}

.hero button{
    color: #fff;
    border: none;
    padding: 14px 65px;
    margin-left: 65px;
    background-color: blue;
    cursor: pointer;
    font-weight: 900;
    font-size: 0.95rem;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.hero button:hover{
    background-color: rgba(0, 0, 255, 0.776);
    box-shadow: 0px 0px 10px rgba(7, 33, 112, 0.687);
}