.login-area {
  background-color: #f1f1f1;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  width: 100%;
  min-height: 100vh;      
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  box-sizing: border-box; 
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 35% right 0%;
}




.login-container img{
  display: block;
  margin: 20px auto;
  height: auto;
  max-width: 180px;
}


.login-container {
  width: 100%;  
  max-width: 500px;
  margin: auto;
  padding: 20px;
  align-items: center;
  background-color: #fff;              /* white card */
  border-radius: 12px;                 /* rounded corners */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15)
}


.login-container h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 30px;
  text-shadow: 5px 5px 5px hsl(0, 0%, 0%);
}

.login-container h3 {
  text-align: left;
  margin-bottom: 20px;
  color: #ffff;
  font-size: 15px;
}

.login-container p {
  color: #000;
  text-align: center;
  font-weight: 500;
}

.login-container span {
  color: #ff0000;
}

.login-container span:hover {
  color: #ff0000;
  text-decoration: underline;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}


.login-container label{
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
  font-weight:bold;
}

.login-container input[type="text"],
.login-container input[type="password"]{
  padding: 10px;
  border-radius: 5px;
  border: #000 solid;
  margin-bottom: 20px;
  /* background-color: #f1f1f1; */
  font-size: 16px;
  font-family: inherit;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus{
  outline: none;
  border: #1c05f0 solid;
} 



.login-container input[type="submit"] {
  background-color: #1d05f0e0;
  color: #ffff;
  padding: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 20px auto;
  width: 50%;
  display: block;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(7, 33, 112, 0.687);
}


.login-container input[type="submit"]:hover {
  /* background-color: #1d05f0b9; */
  background-color: #1c05f0;
  color: #fff;  
  box-shadow: 0px 0px 10px rgba(7, 33, 112, 0.687);
}


.login-container a{
  text-align: right;
  display: block;
  margin: 5px;
  text-decoration: none;
  color: #1d05f0d0;
  /* text-shadow: 2px 2px 2px hsl(0, 0%, 0%); */
  transition: 0.2s ease;
}

.login-container a:hover {
  color: #1c05f0;
  font-weight: 900;
  text-shadow: none;
}

@media (max-width:600px){
  .login-container {
    background-color: #f1f1f1;                          
    box-shadow: none;
  }
}