.newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../../assets/images/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:#04093a;
    padding: 40px 50px;
    margin: 0 auto; 
}

.newsletter .form{
    display: flex;
    width: 40%;
}

.newsletter h4{
    font-size: 1.375rem;
    font-weight: 800;
    color: #fff;
}

.newsletter p{
    font-size: 0.8rempx;
    font-weight: 600;
    color: #818080;
}

.newsletter p span{
    color: #ebeb0f;
}

/* .newsletter p span:hover{
    cursor: pointer;
    color: #efce13;
} */

.newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


button.normal{
    font-size: 14px;
    font-weight: 700;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.newsletter button{
    background-color: #0ab8a9;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.newsletter button:hover{
    background-color: #0ab8aaa5;
    color: #ffffff;
}

/* start of media queries */
@media (max-width:799px){
    .newsletter .form {
        width: 100%;
        margin: 20px 0px;
    }
}

@media (max-width: 400px) {
    .newsletter {
        padding: 30px 30px;
    }
}